<launch>
  <node name="microcontroller_info_pub" pkg="gps_loco" type="arduino_pub.py" output="screen"/>
  <node name="gps_calculator" pkg="gps_loco" type="gps_calc.py" output="screen"/>
  <node name="gui_control" pkg="gps_loco" type="control_center.py" output="screen"/>
  <!--<node name="bounding_box" pkg="mineCV" type="rosified_mine_detect.py" output="screen"/>-->
  <!--<node name="image_capture" pkg="mineCV" type="image_cap.py" output="screen"/>-->
  <!--<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>-->
  <include file="$(find usb_cam)/launch/usb_cam-test.launch" />

</launch>